<!DOCTYPE html>
<html>
<head>
    <title>Generador de Plan de Pagos</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Generador de Plan de Pagos</h1>
    <form method="POST">
        Monto del préstamo: <input type="number" name="monto"><br>
        Tasa de interés (%): <input type="number" name="tasa_interes" step="0.01"><br>
        Plazo (meses): <input type="number" name="plazo"><br>
        <input type="submit" value="Generar Plan"> 
    </form>
    {% if plan_pagos %}
    <h2>Plan de Pagos:</h2>
    <table>
        <tr>
            <th>número de Cuota</th>
            <th>valor cuota</th>
            <th>intereses cuota</th>
            <th>capital cuota</th>
            <th>saldo restante</th>
        </tr>
        {% for pago in plan_pagos %}
        <tr>
            <td>{{ pago.numero_cuota }}</td>
            <td>{{ pago.valor_cuota|currency }}</td>
            <td>{{ pago.intereses_cuota|currency }}</td>
            <td>{{ pago.capital_cuota|currency }}</td>
            <td>{{ pago.saldo_restante|currency }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>
